
/* canvas {
  border: 1px solid black;
  position: absolute;
  top: 100px;
  left: 100px;
  margin: 15px;
} */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin: 15px;
  background-color: #333;
  
}

h1 {
  color: teal;
  letter-spacing: 5px;
}

canvas {
  background-color: whitesmoke;
  flex-grow: 1;
  margin: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.drawBtn {
  height: 25px;
  width: 25px;
}