body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  /* margin: 15px; */
  background-color: #333;
}

.tool-tabs, .contact-boxes{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info{
  display: flex;
  flex-direction: column;
}

.size-btns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  color: whitesmoke;
  font-size: 12px;
  margin-right: 30px;
}

h1 {
  color: teal;
  letter-spacing: 2px;
  font-size: 36px;
  font-weight: 200;
  font-family: 'Rowdies', cursive;
}

canvas {
  background-color: #eeeeee;
  padding: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid black;
}

.drawBtn {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 2px;
  /* box-sizing: border-box; */
  /* margin: 5px 3px 3px 3px; */
}

#smallLn{
  font-size: 3px;
  line-height: 15px;
}

#mediumLn{
  font-size: 5px;
  line-height: 15px;
}

#largeLn{
  font-size: 8px;
  line-height: 15px;
}

#xlargeLn{
  font-size: 13px;
  line-height: 15px;
}

#downloadBtn{
  color: black;
  text-align: center;
  vertical-align: middle;
  text-justify: center;
}

.sign-off {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 12px;
}

.fab{
  color: teal;
  padding: 5px; 
  font-size: x-large; 
}

.canvas-swatch-box{
  display: flex;
  flex-direction: row;
}

.color-swatch{
  display: flex;
  flex-direction: column;
}

#color1{background-color: #D64045}
#color2{background-color: #EA9010}
#color3{background-color: #99C24D}
#color4{background-color: #7785AC}
#color5{background-color: #6A2567}
#color6{background-color: #eeeeee}
#color7{background-color: #000000}

.color-btn{
  border: 1px solid black;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
}